body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.orderbook {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
