body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
  text-align: center;
}

h1 {
  color: #38bdf8;
}

.sub {
  color: #94a3b8;
}

.books {
  display: flex;
  justify-content: center;
  gap: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 6px;
  border-bottom: 1px solid #1e293b;
}

.buy { color: #22c55e; }
.sell { color: #ef4444; }

.manual {
  margin-top: 30px;
}

input, select, button {
  padding: 8px;
  margin: 5px;
}
